# Ambiente virtual
venv/
.venv/

# Cache Python
__pycache__/
*.pyc
*.pyo

# Banco de dados SQLite
*.db

# VS Code
.vscode/

# Arquivos do sistema
.DS_Store
Thumbs.db

echo "node_modules/" >> .gitignore